
  <div class="container">

    <div class="row p-3">

      <div class="col"> 
          <h5>Buscar:</h5>
          <input type="text" class="form-control" placeholder="Buscar gift...">
      </div>

    </div>
    <hr>

    <div class="row">
      <div class="col">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis perferendis officia ipsa voluptatem harum maiores sapiente facilis quibusdam rem tempore perspiciatis libero aut, eveniet soluta facere ipsum. Ab, repudiandae doloribus.
      </div>

    </div>

  </div>