<div class="d-flex">

  <!--sidebar -->
  <div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">
      GiftApp
    </h3>   
       <hr class="text-white">
    <div class="list-group list-reset">
        <a href="#" class="list-group-item list-group-item-action"
        >
      Dashboard
      </a>
    </div>

  </div>


  <div class="container">

    <div class="row p-3">

      <div class="col"> 
          <h5>Buscar:</h5>
          <input type="text" class="form-control" placeholder="Buscar gift...">
      </div>

    </div>
    <hr>

    <div class="row">
      <div class="col">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis perferendis officia ipsa voluptatem harum maiores sapiente facilis quibusdam rem tempore perspiciatis libero aut, eveniet soluta facere ipsum. Ab, repudiandae doloribus.
      </div>

    </div>

  </div>



</div>